html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/* typography */

h2, 
p {
    font-size: 13px;
}

h3 {
    font-weight: 400;
    font-size: 12px;
}

.bold {
    font-weight: 700;
}
/* layout */

.container {
    width: 375px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #C6C6C6;
    padding: 10px 0;
}

.profile {
    display: flex;
    align-items: center;
    line-height: 5px;
    padding:  10px 0 10px 20px;
}

.interactive-section {
    
}

.interactive-section p {
     margin-left: 10px;
}

/* utility classes */

.bottom-margin-zero {
    margin-bottom: 0;
}

.profile-text {
    margin: 0 10px;
}

.comment-p {
    
}

/* images */
.header img {
    padding: 0 20px;
}
.avatar {
    width: 35px;
    border-radius: 50%;
}

.logo {
    width: 125px;
}

.post-img {
    margin: 0;
    width: 100%;
}

.icons {
    width: 24px;
    margin: 0 5px 0 0;
}

.icons:hover, .icons:active {
    opacity: 33%;
}